{% extends "admin/change_list.html" %}

<!-- 
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
{{ block.super }}

{% if cl.formset or action_form %}
<script src="{% url 'admin:jsi18n' %}"></script>
{% endif %}
{{ media.css }}
{% if not actions_on_top and not actions_on_bottom %}
<style>
  #changelist table thead th:first-child {
    width: inherit
  }
</style>
{% endif %}
{% endblock %}

 templates/admin/<app_name>/<model_name>/change_list.html -->



{% block extrahead %}
{{ block.super }}

<link href="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.css" rel="stylesheet">
<script src="https://api.mapbox.com/mapbox-gl-js/v2.14.1/mapbox-gl.js"></script>

<!-- Include Mapbox Marker Clustering library -->
<script src="https://unpkg.com/mapbox-gl@2.14.1/dist/mapbox-gl.js"></script>
<script src="https://unpkg.com/supercluster@7.1.0/dist/supercluster.min.js"></script>

<link href="
https://cdn.jsdelivr.net/npm/@icon/maki-icons@6.2.0-alpha.1/maki-icons.min.css
" rel="stylesheet">


{{ media.js }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
  &rsaquo; <a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{{ cl.opts.app_config.verbose_name }}</a>
  &rsaquo; {{ cl.opts.verbose_name_plural|capfirst }}
</div>
{% endblock %}
{% endif %}

{% block coltype %}{% endblock %}

{% block content %}

<style>
  .mapboxgl-map {
    height: 300px;
  }

  .mapboxgl-popup-content {
    display: flex;
    flex-direction: column;
    width: 126px;

  }

  .mapboxgl-popup-content img {
    object-fit: cover;
    height: auto;
  }

  .object-tools {
    margin-top: 0px;
  }

  #changelist-form .results {
    height: 30dvh;
  }

  #unclustered-point {
    cursor: pointer;
  }

  .marker {
    cursor: pointer;
    width: 30px;
    height: 30px;



    border-radius: 50%;

    filter: drop-shadow(5px 5px 5px #222);
  }

  .cardContainerChart {
    display: flex;
    position: relative;
    top: 12vh;
    z-index: 10000;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
  }

  .cluster-marker {
    width: 40px;
    height: 40px;
    background-color: #1a73e8;
    /* Adjust the background color as needed */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
  }
</style>

<div id="map_inventory"></div>


<div id="content-main">

  {% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% change_list_object_tools %}
    {% endblock %}
  </ul>
  {% endblock %}
  {% if cl.formset and cl.formset.errors %}
  <p class="errornote">
    {% if cl.formset.total_error_count == 1 %}{% translate "Please correct the error below." %}{% else %}{% translate
    "Please correct the errors below." %}{% endif %}
  </p>
  {{ cl.formset.non_form_errors }}
  {% endif %}
  <div class="module{% if cl.has_filters %} filtered{% endif %}" id="changelist">
    <div class="changelist-form-container">
      {% block search %}{% search_form cl %}{% endblock %}
      {% block date_hierarchy %}{% if cl.date_hierarchy %}{% date_hierarchy cl %}{% endif %}{% endblock %}

      <form id="changelist-form" method="post" {% if cl.formset and cl.formset.is_multipart %}
        enctype="multipart/form-data" {% endif %} novalidate>{% csrf_token %}
        {% if cl.formset %}
        <div>{{ cl.formset.management_form }}</div>
        {% endif %}

        {% block result_list %}
        {% if action_form and actions_on_top and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% result_list cl %}
        {% if action_form and actions_on_bottom and cl.show_admin_actions %}{% admin_actions %}{% endif %}
        {% endblock %}
        {% block pagination %}{% pagination cl %}{% endblock %}
      </form>
    </div>
    
    {% block filters %}
    {% if cl.has_filters %}
    <div id="changelist-filter">
      <h2>{% translate 'Filter' %}</h2>
      {% if cl.has_active_filters %}<h3 id="changelist-filter-clear">
        <a href="{{ cl.clear_all_filters_qs }}">&#10006; {% translate "Clear all filters" %}</a>
      </h3>{% endif %}
      {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
    </div>
    {% endif %}
    {% endblock %}
  </div>
</div>

<script>

  // Add markers for each Branch object
  var inventorys = {{ inventorys_json | safe }};
  var mapboxglToken = "{{ mapboxglToken }}";

  // Filter out objects with empty values for lat and long
  const filteredInventorys = inventorys.filter(item => item.lat !== "" && item.long !== "");

  // // Add features to the supercluster
  const arrayObject = () => filteredInventorys.map((inventory) =>

  (
    {
      type: "Feature",
      properties: {
        id: inventory.id,
        mag: inventory.title,
        time: 1507425650893,
        felt: null,
        tsunami: 0,
      },
      geometry: { type: "Point", coordinates: [inventory.long, inventory.lat] },
    })

  );

  var dataJSONGEO = {
    type: 'FeatureCollection',
    crs: { type: "name", properties: { name: "urn:ogc:def:crs:OGC:1.3:CRS84" } },
    features: arrayObject()
  }

  mapboxgl.accessToken = mapboxglToken;

  const map = new mapboxgl.Map({
    container: 'map_inventory', // container ID
    style: 'mapbox://styles/mapbox/satellite-streets-v12', // style URL
    center: [101.9758, 4.2105],
    zoom: 3 // starting zoom
  });

  map.addControl(new mapboxgl.FullscreenControl());

  map.on('load', () => {


    map.loadImage(
      '/media/icon/marker-icon-2x-1.png',
      function (error, image) {
        if (error) throw error;
        map.addImage('myImage', image);
      }
    );

    // Add a new source from our GeoJSON data and
    // set the 'cluster' option to true. GL-JS will
    // add the point_count property to your source data.
    map.addSource('earthquakes', {
      type: 'geojson',
      // Point to GeoJSON data. This example visualizes all M1.0+ earthquakes
      // from 12/22/15 to 1/21/16 as logged by USGS' Earthquake hazards program.
      data: dataJSONGEO,
      cluster: true,
      clusterMaxZoom: 14, // Max zoom to cluster points on
      clusterRadius: 50 // Radius of each cluster when clustering points (defaults to 50)
    });

    map.addLayer({
      id: 'clusters',
      type: 'circle',
      source: 'earthquakes',
      filter: ['has', 'point_count'],
      paint: {
        // Use step expressions (https://docs.mapbox.com/style-spec/reference/expressions/#step)
        // with three steps to implement three types of circles:
        //   * Blue, 20px circles when point count is less than 100
        //   * Yellow, 30px circles when point count is between 100 and 750
        //   * Pink, 40px circles when point count is greater than or equal to 750
        'circle-color': [
          'step',
          ['get', 'point_count'],
          '#f5dd5d',
          100,
          '#f1f075',
          750,
          '#f28cb1'
        ],
        'circle-radius': [
          'step',
          ['get', 'point_count'],
          20,
          100,
          30,
          750,
          40
        ]
      }
    });

    map.addLayer({
      id: 'cluster-count',
      type: 'symbol',
      source: 'earthquakes',
      filter: ['has', 'point_count'],
      layout: {
        'text-field': ['get', 'point_count_abbreviated'],
        'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
        'text-size': 12
      }
    })

    map.addLayer({
      id: 'unclustered-point',
      type: 'symbol',
      source: 'earthquakes',
      filter: ['!', ['has', 'point_count']],
      layout: {
        "icon-image": "myImage", // THIS SHOULD BE YOUR CUSTOM MARKER
        "icon-size": 0.25 // ZOOMED FOR DEMO
      },
      // paint: {
      //   'circle-color': '#11b4da',
      //   'circle-radius': 4,
      //   'circle-stroke-width': 1,
      //   'circle-stroke-color': '#fff'
      // }
    });

    // inspect a cluster on click
    map.on('click', 'clusters', (e) => {

      const features = map.queryRenderedFeatures(e.point, {
        layers: ['clusters']
      });
      const clusterId = features[0].properties.cluster_id;
      map.getSource('earthquakes').getClusterExpansionZoom(
        clusterId,
        (err, zoom) => {
          if (err) return;

          map.easeTo({
            center: features[0].geometry.coordinates,
            zoom: zoom
          });
        }
      );

    });

    // When a click event occurs on a feature in
    // the unclustered-point layer, open a popup at
    // the location of the feature, with
    // description HTML from its properties.
    map.on('click', 'unclustered-point', async (e) => {
      const coordinates = e.features[0].geometry.coordinates.slice();
      const mag = e.features[0].properties.mag;
      const id = e.features[0].properties.id;

      // Ensure that if the map is zoomed out such that
      // multiple copies of the feature are visible, the
      // popup appears over the copy being pointed to.
      while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
      }

      const inventory = filteredInventorys.find(item => item.id === id);
      const el = document.createElement('div');

      el.className = 'marker';

      new mapboxgl.Marker(el).setLngLat(coordinates)
        .setPopup(new mapboxgl.Popup().setHTML(`
        <img id="imageFeature" src="" onerror="this.src='/media/no_image/no_image.jpeg';" />
        <a style="text-decoration: underline;" href='${id}/change/'>${mag}</a>`))
        .addTo(map);

    function changeDomain(url, newDomain) {
        return url.replace(window.location.origin, newDomain);
    }
    
 
      await axios.get(`${window.location.origin}/api/v1/inventory/${id}`).then((res) => {
          
          // Example usage:
          const oldUrl = res.data.featureImage;
          const newDomain = 'https://onedream.dynamicdigital.guru';
          const newUrl = changeDomain(oldUrl, newDomain);
                        
        document.querySelector("#imageFeature").src = newUrl
      })
      
      //   await axios.get(`https://onedream.dynamicdigital.guru/api/v1/inventory/${id}`).then((res) => {
      //         document.querySelector("#imageFeature").src = res.data.featureImage
      // })


    });

    map.on('moveend', 'unclustered-point', (e) => {
      // console.log("open marker")
    })

    map.on('mouseenter', 'clusters', () => {
      map.getCanvas().style.cursor = 'pointer';
    });

    map.on('mouseleave', 'clusters', () => {
      map.getCanvas().style.cursor = '';
      // console.log("close marker")
    });
  });

</script>

{% endblock %}