{% load i18n static %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" dir="{{ LANGUAGE_BIDI|yesno:'rtl,ltr,auto' }}">
<head>
<title>{% block title %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/admin/base.css" %}{% endblock %}">

<!-- Add Syncfusion CDN -->
<script src="https://cdn.syncfusion.com/ej2/18.2.44/dist/ej2.min.js"></script>

<!-- Add Chart.js CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

<!-- Add Axios.js CDN -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<link href="https://cdn.syncfusion.com/ej2/ej2-base/styles/material.css" rel="stylesheet" type="text/css"/>
<link href="https://cdn.syncfusion.com/ej2/ej2-layouts/styles/material.css" rel="stylesheet" type="text/css"/>

<script src="https://cdn.syncfusion.com/ej2/syncfusion-helper.js" type ="text/javascript"></script>

<script src="https://cdn.jsdelivr.net/npm/axios@1.6.5/dist/axios.min.js"></script>

{% if not is_popup and is_nav_sidebar_enabled %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/nav_sidebar.css" %}">
  <script src="{% static 'admin/js/nav_sidebar.js' %}" defer></script>


{% endif %}


{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}">{% endif %}
{% block extrahead %}{% endblock %}
{% block responsive %}
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive.css" %}">
    {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% static "admin/css/responsive_rtl.css" %}">{% endif %}
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE">{% endblock %}
</head>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}"
  data-admin-utc-offset="{% now "Z" %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    {% block header %}
    <div id="header">
        <div id="branding">
        {% block branding %}{% endblock %}
        </div>
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% translate 'Welcome,' %}
                <strong>{% firstof user.get_short_name user.get_username %}</strong>.
            {% endblock %}
            {% block userlinks %}
                {% if site_url %}
                    <a href="{{ site_url }}">{% translate 'View site' %}</a> /
                {% endif %}
                {% if user.is_active and user.is_staff %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if docsroot %}
                        <a href="{{ docsroot }}">{% translate 'Documentation' %}</a> /
                    {% endif %}
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% translate 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% translate 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    </div>
    
    {% endblock %}
    <!-- END Header -->

    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    <div class="main" id="main">

      {% if not is_popup and is_nav_sidebar_enabled %}
        {% block nav-sidebar %}
          {% include "admin/nav_sidebar.html" %}
        {% endblock %}
      {% endif %}
      <div class="content">
       

        {% if title == 'Dashboard' %}

        <!-- {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %} -->


          <div class="cardContainerChart">

            <div tabindex="0" class="e-card" id="basic">

              <div class="e-card-header">
                  <div class="e-card-header-caption">
                      <div class="e-card-header-title container_TMO"></div>
                  </div>
              </div>

              <div class="eCard-content-box">

              <div class="e-card-content">
                <div class="box" >
                  <h2>
                    Branch :
                  </h2>
                  <h1 class="branchText">
                    0
                  </h1>
                </div>

                <div id="BranchProgressBar" class="linear-progress"></div>

              </div>

              <div class="e-card-content">
                <div class="box" >

                  <h2>
                    Agent :
                  </h2>
                  <h1 class="agentText">
                    0
                  </h1>

                </div>

                <div id="AgentProgressBar" class="linear-progress"></div>
               
              </div>

              <div class="e-card-content">
                <div class="box" >

                  <h2>
                    Customer :
                  </h2>
                  <h1 class="customerText">
                    0
                  </h1>

                </div>

                <div id="CustomerProgressBar" class="linear-progress"></div>

              </div>

              <div class="e-card-content">
                <div class="box" >

                  <h2>
                    Listing Unit :
                  </h2>
                  <h1 class="InventoryText">
                    0
                  </h1>

                </div>

                <div id="ListingProgressBar" class="linear-progress"></div>
            
              </div>
            </div>



          </div>

              <div tabindex="1" class="e-card" id="basic">

                  <div class="e-card-header">
                      <div class="e-card-header-caption">
                          <div class="e-card-header-title">Total Sale Summary</div>
                      </div>
                  </div>

                  <div class="e-card-content">
                    <div id="myChart"></div>
                  </div>
              </div>
              
              <div tabindex="2" class="e-card" id="basic">

                <div class="e-card-header">
                    <div class="e-card-header-caption">
                        <div class="e-card-header-title">Sale Category Summary</div>
                    </div>
                </div>

                <div class="e-card-content">
                  <div id="myPieChart"></div>
                </div>
            </div>
    
          </div>
      {% endif %}

        {% block messages %}
          {% if messages %}
            <ul class="messagelist">{% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
            {% endfor %}</ul>
          {% endif %}
        {% endblock messages %}

        <div id="content" class="{% block coltype %}colM{% endblock %}">
          {% block pretitle %}{% endblock %}

          
          {% block content_subtitle %}{% if subtitle %}<h2>{{ subtitle }}</h2>{% endif %}{% endblock %}
          {% block content %}
            {% block object-tools %}{% endblock %}
            {{ content }}
          {% endblock %}
          {% block sidebar %}{% endblock %}
          <br class="clear">
        </div>
        <!-- END Content -->
        {% block footer %}<div id="footer"></div>{% endblock %}
      </div>
    </div>
</div>
<!-- END Container -->


<script src="{% static 'admin/js/api.js' %}" defer></script>
<script src="{% static 'admin/js/helper.js' %}" defer></script>
<script src="{% static 'admin/js/component.js' %}" defer></script>

<script>

    document.addEventListener('DOMContentLoaded', function () {
    
      reorderModule();

      const { currentDay, currentYear } = getDate();

      if (document.querySelector(".container_TMO"))
        document.querySelector(
          ".container_TMO"
        ).textContent = `Overview - ${currentDay}/${currentYear}`;

        });

</script>

</body>
</html>
